.title {
  font-weight: 300;
  white-space: nowrap;
  font-size: calc(75px + (90 - 75) * ((100vw - 1024px) / (1920 - 1024)));

  /* Para telas de 768px a 1024px */
  @media (max-width: 1024px) and (min-width: 768px) {
    font-size: calc(55px + (75 - 55) * ((100vw - 768px) / (1024 - 768)));
  }

  /* Para telas menores que 768px */
  @media (max-width: 768px) and (min-width: 480px) {
    font-size: calc(40px + (55 - 40) * ((100vw - 480px) / (768 - 480)));
  }

  /* Para telas menores que 480px */
  @media (max-width: 480px) {
    font-size: 40px;
  }
}

.text {
  font-size: calc(22px + (22 - 18) * ((100vw - 1024px) / (1920 - 1024)));

  @media (max-width: 1024px) and (min-width: 768px) {
    font-size: calc(18px + (22 - 18) * ((100vw - 768px) / (1024 - 768)));
  }

  @media (max-width: 768px) and (min-width: 480px) {
    font-size: calc(16px + (18 - 16) * ((100vw - 480px) / (768 - 480)));
  }

  @media (max-width: 480px) {
    font-size: 16px;
  }
}
