.name {
  font-weight: 300;
  font-size: calc(24px + (40 - 24) * ((100vw - 1024px) / (1920 - 1024)));

  margin-bottom: 1.5vh;
  text-transform: uppercase;
  letter-spacing: 10%;

  @media (max-width: 1024px) {
    font-size: 24px;
    margin-bottom: 0.3vh;
  }
}

.price {
  font-weight: 700;
  font-size: calc(16px + (30 - 16) * ((100vw - 1024px) / (1920 - 1024)));
  letter-spacing: 10%;
  text-transform: uppercase;
  margin-bottom: 0.25vh;

  @media (max-width: 1024px) {
    font-size: 16px;
    margin-bottom: 0.2vh;
  }
}

.colors {
  font-weight: 400;
  font-size: calc(12px + (20 - 12) * ((100vw - 1024px) / (1920 - 1024)));
  letter-spacing: 10%;
  margin-top: 1vh;

  @media (max-width: 1024px) {
    font-size: 12px;
  }

  > button {
    width: 2.6vw;
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s, color 0.3s;

    @media (max-width: 1024px) {
      width: 4.63vw;
      font-size: 12px;
    }
  }
}

.sizes {
  margin-top: 1vh;
  display: flex;
  gap: 10px;


   @media (max-width: 1024px) {
    margin-top: 1.5vh;
  gap: 1vw;

  }
  > button {
    width: 2.6vw;
    aspect-ratio: 1;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.3s, color 0.3s;

    @media (max-width: 1024px) {
      width: 4.63vw;
      font-size: 12px;
    }
  }

  .selected {
    background-color: black;
    color: white;
  }
}

.description {
  margin-top: 4.54vh;

  font-weight: 400;
  font-size: calc(12px + (16 - 12) * ((100vw - 1024px) / (1920 - 1024)));

  @media (max-width: 1024px) {
    font-size: 12px;
  }

   font-family: 'Inter', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;

  p {
    margin-bottom: 1em;
  }

  table {
    margin-top: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    width: 75%;

    @media (max-width: 1024px) {
      width: 100%;
    }

    th, td {
      padding: 0.5em;
      border: 1px solid #ccc;
      text-align: left;
      min-width: 50px;
      max-width: 50px;
    }

    th {
      background-color: #f9f9f9;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #e0e0e0;
    }
  }

  br {
    margin-bottom: 1em;
  }
}
